.sectionquatre 
{
    margin-top:2%;
    margin-bottom: 2%;
}
.left
{
    text-align: left;
}
.myh1
{
        float: left;
        font-size: 1.625em;
        margin: .25em 0 .35em;
        padding-right: 1em;
        color: #00b39b;
}
.lg_modif
{
    padding: 0px;
    color: #c4c4c4;
    font-weight: 600;
    font-size: 1.3em;
    padding-bottom: 17px;
}
.padding_
{
    padding-right: 15px;
}
