img {
    max-width: 100%;
}

.float_to_right * {
    float: right;
}

.mynav {
    max-width: 1015px;

    .nav {
        a {
            color:#ababab;
            &:hover {
                color: #00b39b;
            }
        }
    }
    .dropdown_toggle
    {
background-color: transparent !important;
    }
}